@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mapa</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
        #map {
            float: left;
            height: 100%;
            width: 50%;
        }

        #pano {
            float: right;
            height: 100%;
            width: 50%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap&libraries=&v=weekly&sensor=false"
            defer></script>
</head>
<body>
    <div id="map"></div>
    <div id="pano"></div>
</body>
</html>

<script>
    let map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 19.4357619, lng: -99.1441192 },
            zoom: 8,
            streetViewControl: true
        });

        const fenway = { lat: 19.4357619, lng: -99.1441192 };
        const panorama = new google.maps.StreetViewPanorama(
            document.getElementById("pano"),
            {
                position: fenway,
                pov: {
                    heading: 34,
                    pitch: 10,
                },
            }
        );

        map.setStreetView(panorama);
     

        var jsonFile = [{ "Nombre": "Punto1", "Lat": 19.59761, "Lng": -99.18054, "FechaHora": "2020-11-03 10:09:58" },
        { "Nombre": "Punto2", "Lat": 19.59764, "Lng": -99.18063, "FechaHora": "2020-11-03 10:11:16" },
        { "Nombre": "Punto3", "Lat": 19.59784, "Lng": -99.1804, "FechaHora": "2020-11-03 10:58:24" },
            { "Nombre": "Punto4", "Lat": 18.887285775229987, "Lng": -99.06121841654321, "FechaHora": "2020-11-03 15:01:50" },
            { "Nombre": "Punto5", "Lat": 19.34970550532515, "Lng": -99.06700593580949, "FechaHora": "2020-11-05 08:51:40" }]

        for (var i = 0; i < jsonFile.length; i++) {
            var obj = jsonFile[i];
            marker = new google.maps.Marker({
                position: { lat: obj.Lat, lng: obj.Lng },
                map: map,
                title: obj.Nombre
            });
            // Evento click sobre el marker creado
            marker.addListener('click', function () {

                const panorama = new google.maps.StreetViewPanorama(
                    document.getElementById("pano"),
                    {
                        position: { lat: obj.Lat, lng: obj.Lng },
                        pov: {
                            heading: 34,
                            pitch: 10,
                        },
                    }
                );
                map.setStreetView(panorama);
            });
        }

        google.maps.event.addListener(map, 'click',
            function () {

                const fenway = { lat: Lat, lng: Lng };

                const panorama = new google.maps.StreetViewPanorama(
                    document.getElementById("pano"),
                    {
                        position: fenway,
                        pov: {
                            heading: 34,
                            pitch: 10,
                        },
                    }
                );

                map.setStreetView(panorama);

            }
        )


    }

</script>


